<html ng-app="todoApp">

<head>
  <meta charset="UTF-8">
  <title>BIGJOHN</title>
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
  <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./js/bootstrap.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="./node_modules/angular-youtube-embed/src/angular-youtube-embed.js"></script>
  <script src="./todo.js"></script>
  <link rel="stylesheet" href="css.css">
  <style>

  </style>
</head>

<body ng-controller="TodoListController" style="background-color: #F5F5F5 !important;">
  <div class="container-fluid" ng-show="state == 2">
  	<div class="row navbar-me">
  		<div class="col-md-4">
  			<img src="./img/logo.png" style="width:80px;">
  			<!-- <span class="textLogo-me">xHamster</span> -->
  		</div>
  		<div class="col-md-4">
  			<form ng-submit="search(keyword)">
  				<input type="text" placeholder="Search . . " ng-model="keyword" class="textboxSearch-me">
	  			<div ng-click="search(keyword)" class="buttonSearch-me">
	  				<span class="glyphicon glyphicon-search"></span>
	  			</div>
  			</form>
  		</div>
  		<div class="col-md-4"></div>
  	</div>
  	<div class="row">
  		<div class="col-md-6 dataSearchBox-me">
  			<table class="table table-hover">
    			<tr ng-repeat="data in dataSearch.items">
      				<td ng-if="data.id.kind == 'youtube#video'" >
        				<img ng-src="{{data.snippet.thumbnails.default.url}}" style="width:120px;height:90px;">
      				</td>
      				<td ng-if="data.id.kind == 'youtube#video'" >
						{{data.snippet.title}}
      				</td>
	  				<td ng-if="data.id.kind == 'youtube#video'" >
	  					<button class="addButton-me" ng-click="addVideo(data.id.videoId, data.snippet.thumbnails.default.url, data.snippet.title)">
	  						<i class="glyphicon glyphicon-plus"></i>
	  					</button>
	  				</td>
    			</tr>
  			</table>
  		</div>
  		<div class="col-md-6">
  			<div class="row videoBox-me">
  				<youtube-video video-id="myVideo[0]" player-vars="playerVars" player-width="'100%'" player-height="'100%'">
  			</youtube-video>
  			</div>
  			<div class="row videoListBox-me">
				<table class="table table-hover">
	  				<tr ng-repeat="data in detailVideo">
	  					<td>
	  						<img ng-src="{{data.img}}">
	  					</td>
	  					<td>
	  						{{data.title}}
	  					</td>
	  					<td>
	  						<button class="deleteButton-me" ng-click="deleteVideo($index)">
	  						<i class="glyphicon glyphicon-minus"></i>
	  					</button>
	  					</td>
	  				</tr>
	  			</table>
  			</div>
  		</div>
  	</div>
  </div>
</body>

</html>
